node_red_data/flows.json
[
    {
        "id": "feab2e29b155e348",
        "type": "tab",
        "label": "Entrenamiento de Deepstack",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "135b5f80cc1e3489",
        "type": "tab",
        "label": "Sistema de Acceso",
        "disabled": false,
        "info": ""
    },
    {
        "id": "broker_mosquitto",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "mosquitto_broker",
        "port": "1883",
        "clientid": "nodered_core",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1bab4c633df1172e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#000000",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#000000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#262626",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "256eacd9a6aa3e78",
        "type": "ui_tab",
        "name": "Smart Access System",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "mongo_conn_iot",
        "type": "mongodb",
        "hostname": "mongo_iot_db",
        "topology": "direct",
        "connectOptions": "authSource=admin",
        "port": "27017",
        "db": "iot_project",
        "name": "MongoDB Docker"
    },
    {
        "id": "1915cbc1c860ad50",
        "type": "ui_group",
        "name": "Monitoreo en Vivo",
        "tab": "256eacd9a6aa3e78",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a0ece8aa888b84f",
        "type": "ui_group",
        "name": "Estadísticas",
        "tab": "256eacd9a6aa3e78",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab_admin",
        "type": "ui_tab",
        "name": "Entrenamiento",
        "icon": "fa-lock",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "group_manual_reg",
        "type": "ui_group",
        "name": "Registro Manual (Foto a Foto)",
        "tab": "tab_admin",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98afc57e2ac6d5f6",
        "type": "ui_group",
        "name": "Logs",
        "tab": "256eacd9a6aa3e78",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12a6b9e19c8f1035",
        "type": "ui_group",
        "name": "Monitor en Vivo",
        "tab": "a4e2ec0dd5ae815e",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f904e0925368796",
        "type": "ui_group",
        "name": "Bitácora de Eventos",
        "tab": "a4e2ec0dd5ae815e",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4e2ec0dd5ae815e",
        "type": "ui_tab",
        "name": "Sistema de Acceso",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4bdd5c8443a2ea18",
        "type": "ui_group",
        "name": "Control de Accesos",
        "tab": "a4e2ec0dd5ae815e",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e6911f7d55fed26",
        "type": "ui_group",
        "name": "",
        "tab": "a4e2ec0dd5ae815e",
        "order": 5,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c76d03ba1249b93",
        "type": "ui_group",
        "name": "",
        "tab": "a4e2ec0dd5ae815e",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f227f3fc0b299afb",
        "type": "ui_group",
        "name": "",
        "tab": "a4e2ec0dd5ae815e",
        "order": 6,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_text_manual_id",
        "type": "ui_text_input",
        "z": "feab2e29b155e348",
        "name": "",
        "label": "Nombre de Usuario (ID):",
        "tooltip": "Ej: Admin01",
        "group": "group_manual_reg",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "userid",
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "change_manual_id"
            ]
        ]
    },
    {
        "id": "change_manual_id",
        "type": "change",
        "z": "feab2e29b155e348",
        "name": "Guardar ID en Flow",
        "rules": [
            {
                "t": "set",
                "p": "manual_userid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_template_manual_cam",
        "type": "ui_template",
        "z": "feab2e29b155e348",
        "group": "group_manual_reg",
        "name": "Cámara Manual",
        "order": 2,
        "width": 8,
        "height": 10,
        "format": "<div style=\"text-align: center;\">\n    \n    <video id=\"videoManual\" \n           style=\"width: 100%; max-width: 400px; border: 3px solid #444; border-radius: 8px;\" \n           autoplay playsinline></video>\n    <canvas id=\"canvasManual\" style=\"display:none;\"></canvas>\n    \n    \n    <div style=\"margin-top: 15px; display: flex; gap: 10px; justify-content: center;\">\n        <md-button class=\"md-raised\" ng-click=\"initCamera()\" style=\"min-width: 40px;\">\n            <i class=\"fa fa-power-off\"></i> ON\n        </md-button>\n        \n        <md-button class=\"md-raised\" ng-click=\"capturePhoto()\" style=\"flex-grow: 1; font-weight: bold;\">\n            <i class=\"fa fa-camera\"></i> CAPTURAR Y GUARDAR\n        </md-button>\n    </div>\n</div>\n\n<script>\n(function(scope) {\n    var video = document.getElementById('videoManual');\n    var canvas = document.getElementById('canvasManual');\n    var context = canvas.getContext('2d');\n\n    // 1. Encender Cámara\n    scope.initCamera = function() {\n        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {\n            navigator.mediaDevices.getUserMedia({ video: true })\n            .then(function(stream) {\n                video.srcObject = stream;\n                video.play();\n            })\n            .catch(function(err) {\n                alert(\"Error de cámara: \" + err);\n            });\n        }\n    };\n\n    // 2. Tomar Foto\n    scope.capturePhoto = function() {\n        if (!video.srcObject) {\n            alert(\"¡Enciende la cámara primero!\");\n            return;\n        }\n        // Dibujar frame en canvas\n        canvas.width = video.videoWidth;\n        canvas.height = video.videoHeight;\n        context.drawImage(video, 0, 0, canvas.width, canvas.height);\n        \n        // Convertir a Base64 y enviar\n        var dataURL = canvas.toDataURL('image/jpeg', 0.95);\n        scope.send({payload: dataURL});\n    };\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "func_prep_manual_reg"
            ]
        ]
    },
    {
        "id": "func_prep_manual_reg",
        "type": "function",
        "z": "feab2e29b155e348",
        "name": "Prep Multipart",
        "func": "const userid = flow.get('manual_userid');\n\nif (!userid) {\n    node.error(\"Falta el ID\");\n    return [null, {payload: \"⚠️ Escribe un nombre primero\", topic: \"Error\"}]; \n}\n\n// Limpiar Base64\nlet data = msg.payload;\nif(data.includes(',')) data = data.split(',')[1];\nconst imgBuffer = Buffer.from(data, 'base64');\n\nconst boundary = \"----WebKitFormBoundary\" + Date.now();\nmsg.headers = { \"Content-Type\": \"multipart/form-data; boundary=\" + boundary };\n\n// Construir Multipart con 'userid' e 'image'\nconst body = Buffer.concat([\n    Buffer.from(`--${boundary}\\r\\nContent-Disposition: form-data; name=\"userid\"\\r\\n\\r\\n${userid}\\r\\n`, 'utf8'),\n    Buffer.from(`--${boundary}\\r\\nContent-Disposition: form-data; name=\"image\"; filename=\"manual_capture.jpg\"\\r\\nContent-Type: image/jpeg\\r\\n\\r\\n`, 'utf8'),\n    imgBuffer,\n    Buffer.from(`\\r\\n--${boundary}--`, 'utf8')\n]);\n\nmsg.payload = body;\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "http_post_manual_reg"
            ],
            [
                "ui_toast_manual"
            ]
        ]
    },
    {
        "id": "http_post_manual_reg",
        "type": "http request",
        "z": "feab2e29b155e348",
        "name": "POST Register",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://deepstack_vision:5000/v1/vision/face/register",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 140,
        "wires": [
            [
                "func_check_manual_res"
            ]
        ]
    },
    {
        "id": "func_check_manual_res",
        "type": "function",
        "z": "feab2e29b155e348",
        "name": "Check Status",
        "func": "if (msg.payload.success) {\n    msg.payload = \"✅ Foto registrada exitosamente\";\n    msg.topic = \"Success\";\n} else {\n    msg.payload = \"❌ Error: \" + (msg.payload.error || \"Desconocido\");\n    msg.topic = \"Error\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 140,
        "wires": [
            [
                "ui_toast_manual"
            ]
        ]
    },
    {
        "id": "ui_toast_manual",
        "type": "ui_toast",
        "z": "feab2e29b155e348",
        "position": "top-right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "topic": "",
        "name": "",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "9b260215ab88608e",
        "type": "mqtt in",
        "z": "135b5f80cc1e3489",
        "name": "RX: iot/telemetry",
        "topic": "iot/telemetry",
        "qos": "0",
        "datatype": "json",
        "broker": "broker_mosquitto",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "7ca6e31123b23f48",
                "7fee0535d5723271"
            ]
        ]
    },
    {
        "id": "7ca6e31123b23f48",
        "type": "ui_template",
        "z": "135b5f80cc1e3489",
        "group": "12a6b9e19c8f1035",
        "name": "Live Feed",
        "order": 1,
        "width": 10,
        "height": 9,
        "format": "<div style=\"text-align: center;\">\n    <img \n        src=\"data:image/jpeg;base64,{{msg.payload.img}}\" \n        width=\"300px\"\n    />\n    <p>\n        ID Disp: {{msg.payload.device_id}} | <b>{{formattedTime}}</b>\n    </p>\n</div>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg && msg.payload && msg.payload.timestamp) {\n                try {\n                    var date = new Date(msg.payload.timestamp);\n                    scope.formattedTime = date.toLocaleString('es-MX'); \n                } catch (e) {\n                    scope.formattedTime = msg.payload.timestamp;\n                }\n            } else {\n                scope.formattedTime = \"--/--/---- --:--\";\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 320,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7fee0535d5723271",
        "type": "function",
        "z": "135b5f80cc1e3489",
        "name": "2. Decodificar Imagen",
        "func": "// 1. Guardar contexto\nflow.set('current_device', msg.payload.device_id);\nflow.set('current_method', msg.payload.access_method);\n\n// 2. Limpieza de Base64 (Robusta)\nlet base64String = msg.payload.img;\n\n// Si viene con prefijo data:image..., lo quitamos\nif (base64String.includes(\"base64,\")) {\n    base64String = base64String.split(\"base64,\")[1];\n}\n\nconst imgBuffer = Buffer.from(base64String, 'base64');\n\n// 3. CONSTRUCCIÓN MULTIPART (Estricta)\nconst boundary = \"--------------------------\" + Date.now().toString(16);\n\nmsg.headers = {\n    \"Content-Type\": \"multipart/form-data; boundary=\" + boundary\n};\n\n// Nota: Los saltos de línea \\r\\n son CRÍTICOS\nconst partHeader = `--${boundary}\\r\\n` +\n                   `Content-Disposition: form-data; name=\"image\"; filename=\"capture.jpg\"\\r\\n` +\n                   `Content-Type: image/jpeg\\r\\n` +\n                   `\\r\\n`; // Línea vacía antes del contenido binario\n\nconst partFooter = `\\r\\n--${boundary}--`;\n\n// 4. Ensamblaje\nmsg.payload = Buffer.concat([\n    Buffer.from(partHeader, 'utf8'),\n    imgBuffer,\n    Buffer.from(partFooter, 'utf8')\n]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "02228c4b8866ae97"
            ]
        ]
    },
    {
        "id": "02228c4b8866ae97",
        "type": "http request",
        "z": "135b5f80cc1e3489",
        "name": "POST Recognize",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://deepstack_vision:5000/v1/vision/face/recognize",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 120,
        "wires": [
            [
                "6b3f8a05cef25aaf"
            ]
        ]
    },
    {
        "id": "6b3f8a05cef25aaf",
        "type": "function",
        "z": "135b5f80cc1e3489",
        "name": "3. Lógica Seguridad",
        "func": "const predictions = msg.payload.predictions || [];\n\n// CONFIGURACIÓN DE UMBRALES\nconst THRESHOLD_AUTH = 0.65; // Exigente para abrir la puerta\n\n// 1. BUSCAR AUTORIZADO (Solo entra si la confianza es alta y el nombre existe)\nconst authorizedFace = predictions.find(p => \n    p.confidence > THRESHOLD_AUTH && \n    p.userid && \n    p.userid !== \"unknown\"\n);\n\n// 2. BUSCAR CUALQUIER CARA (INTRUSO)\n// Si el array tiene elementos, ES que hay una cara, aunque la confianza sea 0.\nconst isIntruder = predictions.length > 0 && !authorizedFace;\n\n// --- LÓGICA DE DECISIÓN ---\nlet accessFinal = false;\nlet logStatus = \"\";\nlet prompt = \"\";\nlet username = \"Desconocido\";\n\nif (authorizedFace) {\n    // CASO 1: Acceso Permitido ✅\n    accessFinal = true;\n    logStatus = \"GRANTED\";\n    username = authorizedFace.userid;\n    prompt = `Genera un mensaje muy breve (10 palabras) con emojis alegre confirmando acceso a ${username}.`;\n\n} else if (isIntruder) {\n    // CASO 2: Hay datos en el array, pero no pasó el filtro de autorizado 🚨\n    accessFinal = false;\n    logStatus = \"DENIED_UNKNOWN\"; \n    prompt = `Genera una alerta de seguridad seria (10 palabras). Se detectó un rostro no autorizado intentando entrar. Acceso denegado.`;\n\n} else {\n    // CASO 3: El array está totalmente vacío (DeepStack no vio nada) ⚠️\n    accessFinal = false;\n    logStatus = \"DENIED_NO_FACE\";\n    prompt = `Informa brevemente (10 palabras) que la cámara no logró captar ningún rostro humano visible.`;\n}\n\n// --- SALIDAS ---\nmsg.access_final = accessFinal;\nmsg.log_status = logStatus;\nmsg.username = username;\n\n// Payload para ChatGPT\nmsg.payload = {\n    \"model\": \"gpt-3.5-turbo\",\n    \"messages\": [\n        { \"role\": \"system\", \"content\": \"Eres Sentinel, un sistema de seguridad física.\" },\n        { \"role\": \"user\", \"content\": prompt }\n    ],\n    \"temperature\": 0.7\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    // Verifica que tu API Key siga aquí\n    \"Authorization\": \"Bearer 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\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 120,
        "wires": [
            [
                "0bb8e14188d5add4"
            ]
        ]
    },
    {
        "id": "0bb8e14188d5add4",
        "type": "http request",
        "z": "135b5f80cc1e3489",
        "name": "ChatGPT API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openai.com/v1/chat/completions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "e59cd87bcb8c1412"
            ]
        ]
    },
    {
        "id": "e59cd87bcb8c1412",
        "type": "function",
        "z": "135b5f80cc1e3489",
        "name": "4. Formatear salida",
        "func": "let aiText = \"⚠️ Sin respuesta de IA\";\nif (msg.payload && msg.payload.choices) {\n    aiText = msg.payload.choices[0].message.content;\n} else if (msg.payload && msg.payload.error) {\n    aiText = \"Error IA: \" + msg.payload.error.message;\n}\n\nconst timestamp = new Date().toLocaleTimeString();\nconst rawStatus = msg.log_status || \"UNKNOWN\";\nconst isGranted = msg.access_final;\nconst user = msg.username || \"-\";\n\n// --- TRADUCCIÓN LOGS ---\nlet displayStatus = rawStatus;\nif (isGranted) {\n    displayStatus = \"ACCESO PERMITIDO\";\n} else {\n    if (rawStatus.includes(\"UNKNOWN\")) displayStatus = \"DESCONOCIDO\";\n    else if (rawStatus.includes(\"NO_FACE\")) displayStatus = \"SIN ROSTRO DETECTADO\";\n    else displayStatus = \"ACCESO DENEGADO\";\n}\n\n// --- 1. HTML LOG COMPLETO ---\nconst logHtml = `\n<div>\n    [${timestamp}] <b>${displayStatus}:</b> ${aiText}\n</div>\n<hr>`;\n\n// --- 2. HTML ASISTENCIA (SOLO SI ES GRANTED) ---\nlet attendanceHtml = null;\nif (isGranted) {\n    attendanceHtml = `\n    <div>\n        [${timestamp}] <b>${user}</b> ingresó correctamente. ✅\n    </div>\n    <hr>`;\n}\n\n// --- MENSAJES ---\nconst mqttMsg = {\n    payload: { \"action\": isGranted ? \"OPEN\" : \"CLOSE\", \"reason\": aiText },\n    ai_text_raw: aiText,\n    log_status: rawStatus,\n    access_final: isGranted,\n    username_log: user\n};\n\nconst uiStatusMsg = {\n    payload: `<h2>${displayStatus}</h2><p>${aiText}</p>`\n};\n\nconst uiLogMsg = { payload: logHtml };\nconst uiAttendanceMsg = attendanceHtml ? { payload: attendanceHtml } : null;\n\n// Outputs: [MQTT, UI Status, UI Log, UI Attendance]\nreturn [mqttMsg, uiStatusMsg, uiLogMsg, uiAttendanceMsg];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "53d51ef693064973",
                "a9cf396188f4e974"
            ],
            [
                "4f6c15971512ee28"
            ],
            [
                "b757f9a5cba5e1f8"
            ],
            [
                "b1956254d1a6390b"
            ]
        ]
    },
    {
        "id": "53d51ef693064973",
        "type": "mqtt out",
        "z": "135b5f80cc1e3489",
        "name": "TX: iot/commands",
        "topic": "iot/commands",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_mosquitto",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "4f6c15971512ee28",
        "type": "ui_template",
        "z": "135b5f80cc1e3489",
        "group": "12a6b9e19c8f1035",
        "name": "Banner Estado",
        "order": 2,
        "width": 10,
        "height": 3,
        "format": "<div ng-bind-html=\"msg.payload\" style=\"text-align:center;\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b757f9a5cba5e1f8",
        "type": "ui_template",
        "z": "135b5f80cc1e3489",
        "group": "6f904e0925368796",
        "name": "Lista Logs Simple",
        "order": 1,
        "width": 10,
        "height": 12,
        "format": "<div style=\"height: 100%; overflow-y: auto;\">\n    <div ng-repeat=\"line in logs track by $index\" ng-bind-html=\"line\">\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n        scope.logs = scope.logs || [];\n        scope.$watch('msg', function(msg) {\n            if (msg && msg.payload) {\n                if (Array.isArray(msg.payload)) {\n                    scope.logs = msg.payload; \n                } else {\n                    scope.logs.unshift(msg.payload); \n                    if (scope.logs.length > 50) scope.logs.pop();\n                }\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a9cf396188f4e974",
        "type": "function",
        "z": "135b5f80cc1e3489",
        "name": "Prep Mongo Save",
        "func": "msg.payload = {\n    timestamp: new Date(),\n    device: flow.get('current_device') || \"unknown\",\n    status: msg.log_status,\n    authorized: msg.access_final,\n    username: msg.username_log || \"Desconocido\", \n    ai_response: msg.ai_text_raw\n};\n\nmsg.collection = \"access_logs\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 200,
        "wires": [
            [
                "da4829ceab45f4a0"
            ]
        ]
    },
    {
        "id": "da4829ceab45f4a0",
        "type": "mongodb out",
        "z": "135b5f80cc1e3489",
        "mongodb": "mongo_conn_iot",
        "name": "Save to Logs",
        "collection": "access_logs",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "b1956254d1a6390b",
        "type": "ui_template",
        "z": "135b5f80cc1e3489",
        "group": "4bdd5c8443a2ea18",
        "name": "Lista Asistencias",
        "order": 1,
        "width": 10,
        "height": 12,
        "format": "<div style=\"height: 100%; overflow-y: auto;\">\n    <div ng-repeat=\"line in logs track by $index\" ng-bind-html=\"line\">\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n        scope.logs = scope.logs || [];\n        scope.$watch('msg', function(msg) {\n            if (msg && msg.payload) {\n                if (Array.isArray(msg.payload)) {\n                    scope.logs = msg.payload; \n                } else {\n                    scope.logs.unshift(msg.payload); \n                    if (scope.logs.length > 50) scope.logs.pop();\n                }\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "inject_load_history",
        "type": "inject",
        "z": "135b5f80cc1e3489",
        "name": "Cargar Historial",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "func_query_mongo"
            ]
        ]
    },
    {
        "id": "func_query_mongo",
        "type": "function",
        "z": "135b5f80cc1e3489",
        "name": "Query: Últimos 100",
        "func": "// Configuramos la consulta\nmsg.collection = \"access_logs\";\nmsg.operation = \"find.toArray\";\n\n// Ordenar por fecha descendente (lo más nuevo primero)\nmsg.sort = { timestamp: -1 };\n\n// Límite de registros para no saturar la pantalla\nmsg.limit = 100;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 420,
        "wires": [
            [
                "mongo_get_logs"
            ]
        ]
    },
    {
        "id": "mongo_get_logs",
        "type": "mongodb in",
        "z": "135b5f80cc1e3489",
        "mongodb": "mongo_conn_iot",
        "name": "Leer MongoDB",
        "collection": "access_logs",
        "operation": "find",
        "x": 420,
        "y": 420,
        "wires": [
            [
                "func_process_history"
            ]
        ]
    },
    {
        "id": "func_process_history",
        "type": "function",
        "z": "135b5f80cc1e3489",
        "name": "Procesar y Separar Listas",
        "func": "// Validación de seguridad\nif (!msg.payload || !Array.isArray(msg.payload)) {\n    node.warn(\"MongoDB: No se encontraron datos o hubo un error.\");\n    return null;\n}\n\n// Invertimos el array para procesar del más viejo al más nuevo\n// (Así el unshift los pone en el orden correcto visualmente)\nconst logs = msg.payload.reverse(); \n\nconst logList = [];       // Lista 1: Todo\nconst attendanceList = []; // Lista 2: Solo Accesos\n\nlogs.forEach(doc => {\n    // 1. Extraer datos\n    const ts = new Date(doc.timestamp);\n    const timeStr = ts.toLocaleTimeString();\n    const rawStatus = doc.status || \"UNKNOWN\";\n    const text = doc.ai_response || \"Sin detalles\";\n    const isGranted = doc.authorized;\n    const user = doc.username || \"-\";\n\n    // 2. Determinar Etiqueta para Bitácora General\n    let displayStatus = rawStatus;\n    if (isGranted) {\n        displayStatus = \"ACCESO PERMITIDO\";\n    } else {\n        if (rawStatus.includes(\"UNKNOWN\")) displayStatus = \"DESCONOCIDO\";\n        else if (rawStatus.includes(\"NO_FACE\")) displayStatus = \"SIN ROSTRO DETECTADO\";\n        else displayStatus = \"ACCESO DENEGADO\";\n    }\n\n    // 3. HTML BITÁCORA GENERAL\n    const htmlGeneral = `\n    <div>\n        [${timeStr}] <b>${displayStatus}:</b> ${text}\n    </div>\n    <hr>`;\n    logList.unshift(htmlGeneral);\n\n    // 4. HTML LISTA ASISTENCIA (Filtro: Solo si entró)\n    if (isGranted) {\n        const htmlAttend = `\n        <div>\n            [${timeStr}] <b>${user}</b> ingresó correctamente. ✅\n        </div>\n        <hr>`;\n        attendanceList.unshift(htmlAttend);\n    }\n});\n\n// Salida 1: Bitácora Completa\n// Salida 2: Lista de Asistencias\nreturn [{ payload: logList }, { payload: attendanceList }];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            [
                "b757f9a5cba5e1f8"
            ],
            [
                "b1956254d1a6390b"
            ]
        ],
        "outputLabels": [
            "A Bitácora",
            "A Asistencias"
        ]
    },
    {
        "id": "e04fc7d0e44d8b39",
        "type": "catch",
        "z": "135b5f80cc1e3489",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 740,
        "y": 60,
        "wires": [
            [
                "6b3f8a05cef25aaf"
            ]
        ]
    },
    {
        "id": "inject_load_stats",
        "type": "inject",
        "z": "135b5f80cc1e3489",
        "name": "Actualizar Gráficas",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "func_query_all_stats"
            ]
        ]
    },
    {
        "id": "func_query_all_stats",
        "type": "function",
        "z": "135b5f80cc1e3489",
        "name": "Query: Todo el Historial",
        "func": "msg.collection = \"access_logs\";\nmsg.operation = \"find.toArray\";\n// Traemos suficientes datos para que las estadísticas tengan sentido\nmsg.limit = 500; \nmsg.sort = { timestamp: -1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 580,
        "wires": [
            [
                "mongo_get_stats"
            ]
        ]
    },
    {
        "id": "mongo_get_stats",
        "type": "mongodb in",
        "z": "135b5f80cc1e3489",
        "mongodb": "mongo_conn_iot",
        "name": "Leer MongoDB",
        "collection": "access_logs",
        "operation": "find",
        "x": 680,
        "y": 580,
        "wires": [
            [
                "func_calc_metrics"
            ]
        ]
    },
    {
        "id": "func_calc_metrics",
        "type": "function",
        "z": "135b5f80cc1e3489",
        "name": "Procesar Métricas",
        "func": "const logs = msg.payload || [];\n\n// --- 1. DATOS: TASA DE ÉXITO (PIE CHART) ---\nlet grantedCount = 0;\nlet deniedCount = 0;\n\n// --- 2. DATOS: TOP USUARIOS (BAR CHART) ---\nconst userCounts = {};\n\n// --- 3. DATOS: ACTIVIDAD (LINE CHART) ---\nconst activityTimeline = {}; \n\nlogs.forEach(doc => {\n    // A. Conteo Global\n    if (doc.authorized) grantedCount++;\n    else deniedCount++;\n\n    // B. Conteo Usuarios\n    const user = doc.username || \"Desconocido\";\n    if (user !== \"Desconocido\" && user !== \"-\") {\n        userCounts[user] = (userCounts[user] || 0) + 1;\n    }\n\n    // C. Línea de Tiempo (Agrupado por hora)\n    // Truco: \"Set minutes to 0\" agrupa todo lo que pasó en la hora 9:00, 9:15, 9:59 en \"9:00\"\n    const timeKey = new Date(doc.timestamp).setMinutes(0, 0, 0); \n    activityTimeline[timeKey] = (activityTimeline[timeKey] || 0) + 1;\n});\n\n// --- GENERAR MENSAJES PARA UI ---\n\n// 1. Mensajes Dona (Se envían como array de objetos)\n// El nodo Chart limpia y redibuja cuando recibe un array nuevo\nconst pieData = [\n    { series: \"Accesos\", data: [[grantedCount]], labels: [\"Permitido\"] },\n    { series: \"Accesos\", data: [[deniedCount]], labels: [\"Denegado\"] }\n];\n// Para Pie Chart de Node-RED Dashboard es mejor enviar puntos sueltos con 'topic'\nconst pieMsgs = [\n    { topic: \"Acceso Permitido\", payload: grantedCount },\n    { topic: \"Acceso Denegado\", payload: deniedCount }\n];\n\n// 2. Mensajes Barras (Top Usuarios)\nconst barMsgs = Object.keys(userCounts).map(user => {\n    return { topic: user, payload: userCounts[user] };\n});\n\n// 3. Mensajes Línea (Actividad)\n// Convertimos timeline a array ordenado por tiempo\nconst lineMsgs = Object.keys(activityTimeline).sort().map(ts => {\n    return {\n        topic: \"Actividad\",\n        payload: activityTimeline[ts],\n        timestamp: parseInt(ts)\n    };\n});\n\n// --- ENVIAR SALIDAS (3 Cables) ---\n\n// Salida 1: Dona\nnode.send([pieMsgs, null, null]);\n\n// Salida 2: Barras\nnode.send([null, barMsgs, null]);\n\n// Salida 3: Línea\nnode.send([null, null, lineMsgs]);\n\nreturn null;",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 580,
        "wires": [
            [
                "chart_pie_stats"
            ],
            [
                "chart_bar_users"
            ],
            [
                "chart_line_timeline"
            ]
        ],
        "outputLabels": [
            "Pie Chart",
            "Bar Chart",
            "Line Chart"
        ]
    },
    {
        "id": "chart_pie_stats",
        "type": "ui_chart",
        "z": "135b5f80cc1e3489",
        "name": "Tasa de Éxito",
        "group": "2e6911f7d55fed26",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Seguridad Global",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#4caf50",
            "#f44336",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1120,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_bar_users",
        "type": "ui_chart",
        "z": "135b5f80cc1e3489",
        "name": "Top Usuarios",
        "group": "1c76d03ba1249b93",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Accesos por Usuario",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#2196f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_line_timeline",
        "type": "ui_chart",
        "z": "135b5f80cc1e3489",
        "name": "Línea de Tiempo",
        "group": "f227f3fc0b299afb",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Tendencia de Actividad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffc107",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 600,
        "wires": [
            []
        ]
    }
]